# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Env
.env
.venv/
!.venv.example

# Byte-compiled / compiled
*.pyc

# IDE
.vscode/
.idea/
.cursor/
.cursor/

# OS because microsoft sucks
.DS_Store

# Build
dist/
build/

# Caches
*.cache/
.mypy_cache/
.pytest_cache/

# Node / Electron
desktop/electron/node_modules/
desktop/electron/package-lock.json
desktop/electron/yarn.lock
desktop/electron/pnpm-lock.yaml
desktop/electron/dist/
desktop/electron/out/


#temp/legacy issue cleanup
0.17.2
